<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.susankya.yubahunkar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.susankya.yubahunkar.application.PostsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="com.susankya.yubahunkar.activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.susankya.yubahunkar.activity.TestActivity"
            android:parentActivityName="com.susankya.yubahunkar.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.susankya.yubahunkar.activity.OthersActivity"
            android:parentActivityName="com.susankya.yubahunkar.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.susankya.yubahunkar.activity.NotificationActivity" />
        <activity android:name="com.susankya.yubahunkar.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>